@import "../common/base";
@import "../layouts/header";

.carousel {
  .container {
    .top {
      .row {
        display: flex;
        align-items: center;

        .left {
          width: 100%;

          .title {
            font-weight: 700;
            font-size: 3rem;

            h2 {
              font-size: 1.1rem;
              margin-bottom: 0.5em;
              color: #b61984;
              text-transform: uppercase;
            }
          }
        }
        .right {
          text-align: left;
        }
      }
    }
  }
}
